<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944620677500-3b8rnpgh6oqbutajt2lvnscnkk1uog3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944620677500-3b8rnpgh6oqbutajt2lvnscnkk1uog3n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944620677500-tdp0l3gl2fsdubrci1amr2n3b7m3fcq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6yonWGku40lq5nQ9as2Sa_CJdOFX7hLo</string>
	<key>GCM_SENDER_ID</key>
	<string>944620677500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayanth.shotram</string>
	<key>PROJECT_ID</key>
	<string>shotram-3421b</string>
	<key>STORAGE_BUCKET</key>
	<string>shotram-3421b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944620677500:ios:2546dc8ef02376a5521cf9</string>
	<key>DATABASE_URL</key>
	<string>https://shotram-3421b.firebaseio.com</string>
</dict>
</plist>